- const root = path => (url + '/' + path).replace(/(?<!:)\/+/g, '/')

mixin section(className)
	if block
		section(class=['section', className])
			div(class=['section__wrapper', className+'__wrapper'])
				block
