extends _layout.pug

block content
	+section
		p Hello World, #{name}!
		p #{root('/assets/img/teste.jpg')}!
		button(data-component='publish' data-publish='{"bi:click":"1"}') teste track click
		div(data-bi:scroll="scroll-1") track me on scroll
		div.social-login
			button(data-spotify=spotify data-component='spotify') login spotify
			button(data-deezer=deezer data-component='deezer') login deezer

		.game-holder
			.game-holder__wrapper
				p some elements
				p some elements
				p some elements
				p some elements
				button.fullscreen-button--open(data-fullscreen='{"elm": ".game-holder"}' data-component='fullscreen') full screen
				button.fullscreen-button--close(data-component='publish' data-publish='{"fullscreen:close": null}') close full screen
